
.svg-icon{
    height: 50 !;
}


.activeAccent{
    color: #FCF6F6 !important;
    background-color: #990012 !important;
}


.activeSecondary{
    color: #FCF6F6 !important;
    background-color: #242323 !important;
}

.carousel-caption {
    background-color: rgba(36, 35, 35, 0.581); 
}


.custom-image {
    width: 100%; /* Ensure the image takes 100% of the container width */
    height: 100%; /* Ensure the image takes 100% of the container height */
    object-fit : contain; /* Maintain aspect ratio while covering the container */

}


.image-container {
    height: 400px; /* Set a fixed height for the container */
}

.custom-container {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(88, 88, 88); 

}