
.custom-image {
    width: 100%; /* Ensure the image takes 100% of the container width */
    height: 100%; /* Ensure the image takes 100% of the container height */
    object-fit : contain; /* Maintain aspect ratio while covering the container */
}


.image-container {
    height: 70vh; /* Set a fixed height for the container */
}


.custom-container {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.carousel-indicators{
    background-color:#242323;
    border-radius: 10px;
    bottom: -4rem;
}



@media screen and (max-width: 768px) {
    .carousel-indicators {
        bottom: -4vh; /* Adjust the value for tablet devices */
    }
}

@media screen and (max-width: 576px) {
    .carousel-indicators {
        bottom: -9vh; /* Adjust the value for mobile devices */
    }
}

/* .carousel-inner .carousel-item > img {
    -webkit-animation: thing 20s;
    -o-animation: thing 20s;
    animation: thing 20s; 
  }
  @keyframes thing {
    from {
       transform: scale(1, 1);
    }
    to {
      transform: scale(1.5, 1.5);
    }
  } */