
<div class="container-fluid home bg-secondary-color pt-3 pb-3">
    <div class="row">
        <div class="col-lg-5 offset-lg-1 rounded order-lg-1 order-2">

            <div class="row p-1">
                <div class="col-md-5">
                    <img height="200" class="rounded-circle img-fluid" src="../../../../assets/imgs/me.png" alt="MyPhoto">
                </div>
                <div class="col-md-6 mt-5  ">
                    <div class="text-uppercase text-primary-color fs-2 d-inline-flex animation animation--accent">Ousseynou </div>
                    <div class="text-uppercase text-primary-color fs-2 d-inline-flex animation animation--primary">Koné</div>
                </div>
                <div class="col-md-12 mt-4 ">
                    <div class="text-uppercase text-primary-color fs-5 animation animation--primary d-inline-flex">Developpeur Junior FullStack Web/Mobile</div>
                </div>
                <div class="col-md-12 mt-4">
                    <div class="text-primary-color">
                        Bienvenue sur mon Portfolio ! Je suis Ousseynou Koné, un développeur passionné basé à Dakar, Sénégal. Explorez mes projets et découvrez comment je transforme des idées en expériences interactives. Prêt pour de nouveaux défis !
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 rounded order-lg-2 order-1">


            <div class="row">

                <div class="col-md-3 offset-md-9 mb-4">
                    <div class="badge bg-accent-color fs-5 p-2">Portfolio</div>
                </div>
                <div class="col-md-7 offset-md-4">
                    <img src="../../../../assets/imgs/sharingan2.png"  alt="" class="img-fluid"> 
                </div>

            </div>
        </div>
    </div>

</div>
