
<div class="container-fluid home bg-secondary-color pt-3 pb-3">
    <div class="row">
        <div class="col-lg-5 offset-lg-1 rounded order-lg-1 order-2">

            <div class="row p-1">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                      <img class="rounded-circle img-fluid img-size" src="../../../../assets/imgs/me.png" alt="MyPhoto">
                    </div>
                    <div>
                      <div class="d-flex flex-wrap">
                        <div class="text-uppercase text-primary-color fs-2 animation animation--accent">Ousseynou</div>
                        &nbsp;
                        <div class="text-uppercase text-primary-color fs-2 animation animation--primary">Koné</div>
                      </div>
                    </div>
                </div>

                <div class="col-md-12 mt-4 "> 
                    <div [class.animation--primary]="displayAnimationFlag"  class="text-uppercase text-primary-color fs-5 animation d-inline-flex">Developpeur Junior FullStack Web/Mobile</div>

                </div>
                <div class="col-md-12 mt-4">
                    <div class="text-primary-color">
                        Bienvenue sur mon Portfolio ! Je suis Ousseynou Koné, un développeur passionné basé en Île-de-France, France. Explorez mes projets et découvrez comment je transforme des idées en expériences interactives. Prêt pour de nouveaux défis !
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 rounded order-lg-2 order-1">


            <div class="row">

                <div class="col-md-3 offset-md-9 mb-4">
                    <div class="badge bg-accent-color fs-5 p-2">Portfolio</div>
                </div>
                <div class="col-md-7 offset-md-4 " (click)="goToAdminPanel()">
                    <img src="../../../../assets/imgs/sharingan2.png"  alt="" class="img-fluid"> 
                </div>

            </div>
        </div>
    </div>

</div>
