
<div class="container bg-primary-color mt-3 ">
  <h3 class="bg-secondary-color text-white p-3 text-center ">Ablities Section</h3>
<div class="row">
  <div *ngIf="isDataComing" class="col-md-12 text-center mt-5">
    <div class="spinner-grow text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

<!-- abilities.component.html -->
<div *ngIf="!isDataComing" class="bg-accent-color rounded">
  <div class="container mt-3">
    <table id="example" class="table table-striped" style="width:100%">

      <thead>
        <tr>
          <th>Name</th>
          <th>Rating</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ability of abilities">
          <td>{{ ability.name }}</td>
          <td>
            <div class="overlay">
              <span *ngFor="let star of getStarArray(5); let i = index;"
                    class="fa fa-star"
                    [ngClass]="{ 'checked': i < ability.rating }">
              </span>
            </div>
          </td>
          <td>
            <img [src]="ability.image" alt="{{ ability.name }} Image" style="max-height: 50px;">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="badge bg-secondary-color text-white ">Total de  {{fireBaseStorage.totalOfItems}}  affichés par    {{limit}}</div>
  </div>
  

  <button class="btn bg-secondary-color m-2 text-white" [disabled]="fireBaseStorage.weAreOntFirstElement" (click)="getPrevious()">Precedent</button>

  <button class="btn  bg-secondary-color m-2  text-white" [disabled]="fireBaseStorage.weAreOntLastElement" (click)="getNext()">Suivant</button>

  <!-- <mat-paginator class="bg-primary-color" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
  [length]="abilitiesDataSource.data.length" showFirstLastButtons>
  </mat-paginator> -->
  
</div>
<!-- //TODO PAGINATINO IS NOT WORKING WELL !!! -->
  

</div>


</div>






<div class="container mt-3 bg-primary-color">
<form [formGroup]="abilityForm" (ngSubmit)="onSubmit()" class="mt-4 col-12 ">
  <div class="h5 text-center bg-secondary-color text-white p-2 mt-3 mb-3">Add ability</div>
    <div class="form-group ">
      <label for="libelle">Libelle : </label>
      <input type="text" id="libelle" class="form-control" formControlName="name" required>

      <div *ngIf="abilityForm.get('name')?.errors && abilityForm.get('name')?.touched">
          <p class="badge bg-danger mt-1" *ngIf="abilityForm.get('name')!.hasError('required')">        libelle is required.
        </p>
      </div>


    </div>
    <div class="form-group ">
            <label for="image">Image URL:</label>
            <input type="file" id="image" class="form-control" formControlName="image" accept="image/*" (change)="onImageChange($event)">
            <div *ngIf="abilityForm.get('image')?.errors && abilityForm.get('image')?.touched">
                <p class="badge bg-danger mt-1" *ngIf="abilityForm.get('image')!.hasError('required')">        Img  is required.
              </p>
            </div>

            <div *ngIf="isLoading">
              <p class="badge bg-success mt-1" >     {{percentage}}%
            </p>
          </div>
    </div>



    <div class="form-group ">
      <label for="rating">Rating (1-5):</label>
      <input type="number" id="rating" class="form-control" formControlName="rating" required min="1" max="5">
      <div *ngIf="abilityForm.get('rating')?.errors && abilityForm.get('rating')?.touched">

      <div *ngIf="abilityForm.get('rating')!.hasError('required')" class="badge bg-danger mt-1">
        Rating is required.
      </div>
      <div *ngIf="abilityForm.get('rating')!.hasError('min')" class="badge bg-danger mt-1">
        Rating must be between 1 and 5.
      </div>
      <div *ngIf="abilityForm.get('rating')!.hasError('max')" class="badge bg-danger mt-1">
        Rating must be between 1 and 5.
      </div>
    </div>
</div>

<button type="submit" [disabled]="isLoading" class="btn bg-accent-color p-2 mt-3 text-white" >

  <span *ngIf="isLoading" class="spinner-border spinner-border-sm p-3" role="status" aria-hidden="true"></span>
  <span *ngIf="!isLoading" >Add</span>

 </button> 


  </form>
</div>




