
<div class="container-fluid bg-primary-color mt-3 ">
  <h3 class="bg-secondary-color text-white p-3 text-center ">Project Section</h3>
<div class="row">
  <div *ngIf="isDataComing" class="col-md-12 text-center mt-5">
    <div class="spinner-grow text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="container">
    <button class="btn bg-secondary-color m-2 text-white" (click)="addNewProject()">Add new Project</button>
  </div>


<!-- abilities.component.html -->
<div *ngIf="!isDataComing" class="bg-primary-color rounded">
  <div class="container mt-3">
    <!-- add this to table if u want DATATABLE datatable [dtOptions]="dtOptions"  -->
    <table    id="example" class="table table-striped" style="width: 100% !important;" >

      <thead>
        <tr>
          <th>Title</th>
          <th>Min Description</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">


          <td>
            {{ truncateText(project.title) }}
          </td>
          
          <td >
            {{ truncateText(project!.minDescription)}}

          </td>
          
      
 
          <td>
            <button class="btn btn-success btn-sm m-1" (click)="switchToEditMode(project)" >Details</button>
            <button class="btn btn-danger btn-sm m-1" (click)="deleteproject(project)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="badge bg-secondary-color mt-1 text-white ">Total de  {{fireBaseStorage.totalOfItems}}  affiché par    {{limit}}</div>
  </div>
  

  <button class="btn bg-secondary-color m-2 text-white" [disabled]="fireBaseStorage.weAreOntFirstElement" (click)="getPrevious()">Precedent</button>

  <button class="btn  bg-secondary-color m-2  text-white" [disabled]="fireBaseStorage.weAreOntLastElement" (click)="getNext()">Suivant</button>


  
</div>
<!-- //TODO PAGINATINO IS NOT WORKING WELL !!! -->
  

</div>


</div>





<!-- Modal Client -->
<div class="modal fade" id="formModalProject" tabindex="-1" role="dialog" aria-labelledby="formModalProjectLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header bg-accent-color d-flex justify-content-center ">
        <div class="h5 rounded  modal-title bg-secondary-color text-white p-2">
          <span *ngIf="this.editMode" >Update project</span>
          <span *ngIf="!this.editMode" >Add project</span>
          
          </div>
      </div>
      <div class="modal-body ">
        <div class="row">
          <div class="col-12  " [class.col-md-6]="this.editMode">
        <div class="container">
          <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="mt-4 col-12 " id="projectForm">
          
          
              <div class="form-group ">
                <label for="libelle">Title : </label>
                <input type="text" maxlength="40" id="libelle" class="form-control" formControlName="title" required>
          
                <div *ngIf="projectForm.get('title')?.errors && projectForm.get('title')?.touched">
                  <p class="badge bg-danger mt-1" *ngIf="projectForm.get('title')!.hasError('required')">Title is required.</p>
                    <p class="badge bg-danger mt-1" *ngIf="projectForm.get('title')!.hasError('maxlength')">40 char max.</p>
                    
                </div>
              </div>


              <div class="form-group ">
                <label for="libelle">Type : </label>
                <select formControlName="type" class="form-select form-group" aria-label="Default select example">
                  <option *ngFor="let option of options" [value]="option.value"  [disabled]="option.value === '' " [selected]="option.value === ''">
                    {{ option.label }}
                  </option>
          
                </select>
                
            
              <!-- Display validation message if the control is touched and not valid -->
              <div *ngIf="projectForm.get('type')?.errors && projectForm.get('type')?.touched">
                
                <p class="badge bg-danger mt-1" > Type is required.</p>
          
              </div>
          
              
          
              
            </div>

                        
              <div class="form-group ">
                <label for="minDescription">Min Description : </label>
                <textarea type="text" id="minDescription" maxlength="50" class="form-control" formControlName="minDescription" required> </textarea>
          
                <div *ngIf="projectForm.get('minDescription')?.errors && projectForm.get('minDescription')?.touched">
                  <p class="badge bg-danger mt-1" *ngIf="projectForm.get('minDescription')!.hasError('required')">minDescription is required.</p>
                    <p class="badge bg-danger mt-1" *ngIf="projectForm.get('minDescription')!.hasError('maxlength')">50 char max.</p>
                    
                </div>
              </div>



              <div class="form-group ">
                <label for="fullDescription">Full Description : </label>
                <textarea type="text" id="fullDescription" maxlength="500" class="form-control" formControlName="fullDescription" required> </textarea>
          
                <div *ngIf="projectForm.get('fullDescription')?.errors && projectForm.get('fullDescription')?.touched">
                  <p class="badge bg-danger mt-1" *ngIf="projectForm.get('fullDescription')!.hasError('required')">fullDescription is required.</p>
                    <p class="badge bg-danger mt-1" *ngIf="projectForm.get('fullDescription')!.hasError('maxlength')">500 char max.</p>
                    
                </div>
              </div>



              <div class="form-group ">
                <label for="usedTools">Usez Tools : (Please separed it with coma " , ")</label>
                <textarea type="text" id="usedTools" placeholder="Please separed it with coma " maxlength="100" class="form-control" formControlName="usedTools" required> </textarea>
          
                <div *ngIf="projectForm.get('usedTools')?.errors && projectForm.get('usedTools')?.touched">
                  <p class="badge bg-danger mt-1" *ngIf="projectForm.get('usedTools')!.hasError('required')">Used Tools is required.</p>
                  <p class="badge bg-danger mt-1" *ngIf="projectForm.get('usedTools')!.hasError('maxlength')">100 char max.</p>
                  <p class="badge bg-danger mt-1" *ngIf="projectForm.get('usedTools')!.hasError('pattern')">Format non respecté.</p>
                    
                </div>
              </div>


              

      <div *ngIf="!editMode" >
              <div class="form-group ">
                      <label for="imgsFile">ScreenShots :</label>
                      <input type="file" #imageInput id="imgsFile" class="form-control" multiple='multiple'  formControlName="imgsFile"    accept="image/*" (change)="onImageChange($event,editMode,false)">
                      <div *ngIf="projectForm.get('imgsFile')?.errors && projectForm.get('imgsFile')?.touched">
                          <p class="badge bg-danger mt-1" *ngIf="projectForm.get('imgsFile')!.hasError('required')" >  Img File  is required.
                        </p>
                      </div>
          
                      <div *ngIf="(isLoading && !editMode) || (editMode && this.fireBaseStorage.isUpdatingimg)">
                        <p class="badge bg-success mt-1" >     {{percentageImg}}%
                      </p>
                    </div>
              </div>





              <div class="form-group ">
                <label for="imageProfileInput">Profile picture :</label>
                <input type="file" #imageProfileInput id="imageProfileInput" class="form-control" multiple='multiple'  formControlName="imageProfileInput"    accept="image/*" (change)="onImageProfileChange($event)">
                <div *ngIf="projectForm.get('imageProfileInput')?.errors && projectForm.get('imageProfileInput')?.touched">
                    <p class="badge bg-danger mt-1" *ngIf="projectForm.get('imageProfileInput')!.hasError('required')" >  Img File  is required.
                  </p>
                </div>
    
                <div *ngIf="(isLoading && !editMode) ">
                  <p class="badge bg-success mt-1" >     {{this.fireBaseStorage.ppPercentage}}%
                </p>
              </div>
            </div>


              <div class="form-group ">
                <label for="videoFile">Video :</label>
                <input type="file" #videoInput id="videoFile" class="form-control" formControlName="videoFile"       accept="video/*" (change)="onVideoChange($event,editMode)">
                <div *ngIf="projectForm.get('videoFile')?.errors && projectForm.get('videoFile')?.touched" >
                    <p class="badge bg-danger mt-1" *ngIf="projectForm.get('videoFile')!.hasError('required')"> Video File  is required.
                  </p>
                </div>
    
                <div *ngIf="(isLoading && !editMode) || (editMode && this.fireBaseStorage.isUpdatingVideo)">
                  <p class="badge bg-success mt-1" >     {{percentageVideo}}%
                </p>
              </div>
        </div>
  </div>







    
 
          <div class="d-flex justify-content-center">
            <hr *ngIf="this.editMode">  
            <button type="submit"  [disabled]="isLoading" class="btn bg-accent-color p-2 mt-3 text-white" >
          
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm p-3" role="status" aria-hidden="true"></span>
              <span *ngIf="!isLoading && !this.editMode" >Add</span>
              <span *ngIf="!isLoading && this.editMode" >Update</span>
            
            </button>
 


          <button type="button" (click)="close()" data-bs-dismiss="modal"  *ngIf="!this.editMode && !isLoading" class="btn bg-secondary-color p-2 mt-3  text-white mx-1" >
            Close
          </button> 





          
          </div>

          
          
            </form>


            <hr *ngIf="this.editMode">  
            <!-- For adding new image to an project -->

            <div>
            <div *ngIf="editMode" class="text-white bg-accent-color p-2 rounded text-center fs-6 text">Add new Image</div>

            <div  *ngIf="editMode" class="m-1">
              <label for="imgsFile">Image :</label>
              <input type="file" #imageAddInput id="imgsFile" class="form-control" accept="image/*" (change)="onImageChange($event,editMode,true)">
    
              <button type="button" (click)="addNewImageToProject()" [disabled]="isAddinggNewImage" class="btn bg-secondary-color p-2 mt-3  text-white mx-1" > 

                <span *ngIf="isAddinggNewImage" class="spinner-border spinner-border-sm p-3" role="status" aria-hidden="true"></span>
                <span *ngIf="!isAddinggNewImage" role="status" aria-hidden="true">Add image</span>
              </button>
    
              <div *ngIf="this.isAddinggNewImage ">
                <p class="badge bg-success mt-1" >     {{percentageImg}}%
              </p>
            </div>
           </div>
          </div>
          <!-- END  -->
          <hr>  


            <!-- For updating profile image of an  project -->

          <div  *ngIf="editMode">
            <div class="text-white bg-accent-color p-2 rounded text-center fs-6 text">Update profile picture</div>
            <div class="d-flex justify-content-center align-items-center">
              <img [src]="projectPPlink" class="img-fluid p-1 m-2 highlight " style="max-height: 400px;">
            </div>

            <div  class="m-1">
              <label for="imgsFile">Image :</label>
              <input type="file" #imageProfileInput id="imgsFile" class="form-control" accept="image/*" (change)="onImageProfileChange($event)">
    
              <button type="button" (click)="updatePP()" [disabled]="this.fireBaseStorage.isUpdatingPP" class="btn bg-secondary-color p-2 mt-3  text-white mx-1" > 

                <span *ngIf="this.fireBaseStorage.isUpdatingPP" class="spinner-border spinner-border-sm p-3" role="status" aria-hidden="true"></span>
                <span *ngIf="!this.fireBaseStorage.isUpdatingPP" role="status" aria-hidden="true">Update the image</span>
              </button>
    
              <div *ngIf="this.fireBaseStorage.isUpdatingPP ">
                <p class="badge bg-success mt-1" >{{this.fireBaseStorage.ppPercentage}}%</p>
            </div>
           </div>
          </div>
          <!-- END  -->
          </div>
        </div>
















<!-- For updating an image  or Oder image-->
          
        <div *ngIf="this.editMode" class="col-12 col-md-6 mt-3 card">
          <div class="badge bg-secondary-color m-2 text-white ">Choose an image to update/delete</div>

                  <div class="scrollable ">
 
                    <div *ngFor="let image of toUpdateImageUrls; let i = index;">
                      <div class="card-body d-flex justify-content-center align-items-center">
                        <div class="row">
                          <div class="image-update-container">
                            <img [src]="image" class="img-fluid img-default-highlight p-1"  [class.highlight]="i === selectedImageIndex" (click)="OnImageClicked(image,i)" >

                          </div>
                          <button *ngIf="i === selectedImageIndex" (click)="deleteOnImage(image)" class="btn btn-sm bg-accent-color mt-1 text-white" > 
                            <span *ngIf="isDeletingOneImage" class="spinner-border spinner-border-sm p-3" role="status" aria-hidden="true"></span>
                            <span *ngIf="!isDeletingOneImage" role="status" aria-hidden="true">Delete</span>
                            
                          </button>

                        </div>

                      </div>
                    </div>
                  </div>

                  <!-- <div class="bg-accent-color p-2 rounded mt-3 mb-1 d-flex justify-content-center align-items-center"> -->
                    <video [src]="toUpdateVideoUrl"  class="embed-responsive embed-responsive-4by3 mt-3" height="400vh" controls muted ></video>
                  <!-- </div> -->


                  <div *ngIf="editMode" >
                    <div class="form-group ">
                            <label for="imgsFile">Image :</label>
                            <input type="file" #imageInput id="imgsFile" class="form-control"  accept="image/*" (change)="onImageChange($event,editMode,false)">
                            <div *ngIf="(isLoading && !editMode) || (editMode && this.fireBaseStorage.isUpdatingimg)">
                              <p class="badge bg-success mt-1" >     {{percentageImg}}%
                            </p>
                          </div>
                    </div>
      
      
                    <div class="form-group ">
                      <label for="videoFile">Video :</label>
                      <input type="file" #videoInput id="videoFile" class="form-control"        accept="video/*" (change)="onVideoChange($event,editMode)">       
                      <div *ngIf="(isLoading && !editMode) || (editMode && this.fireBaseStorage.isUpdatingVideo)">
                        <p class="badge bg-success mt-1" >     {{percentageVideo}}%
                      </p>
                    </div>
                    </div>
                  </div>

                  <button type="button" (click)="updateVideoImage()" [disabled]="isUpdatingMultimedia" class="btn bg-accent-color p-2 m-3 text-white" >
          
                    <span *ngIf="isUpdatingMultimedia" class="spinner-border spinner-border-sm p-3" role="status" aria-hidden="true"></span>
                    <span *ngIf="!isUpdatingMultimedia && this.editMode" >Update multimedia</span>
                  
                  </button>


                  <button type="button" (click)="openImagesPositionModal()"  class="btn bg-accent-color onHoverAccent p-2 m-3 text-white" >
                    <span  >Order images</span>
                  </button>

                </div>
 
<!-- For updating an image  or Oder image-->


        


           
          </div>        
      </div>
      <button type="button" (click)="saveChange()" *ngIf="this.editMode && !isUpdatingMultimedia" class="btn bg-secondary-color p-2 m-3  text-white mx-1" >
        Done and Save Change
      </button>
      
    </div>
  </div>
</div>






<!-- Modal  ORDER IMAGE POSITION-->
<div class="modal fade" id="imagePositionOrderModal" tabindex="-1" aria-labelledby="imagePositionOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imagePositionOrderModalLabel">Order images by draging them</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="scrollable">
            <div cdkDropList cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="dropListDropped($event)" class="row m-0 d-flex align-items-center justify-content-center" >

              <div class="col-12 col-md-3 cdk-drag-preview m-1 p-1" cdkDragBoundary=".scrollable" *ngFor="let image of toUpdateImageUrls; let i = index;" cdkDrag>
                <div class="image-order-container " >
                  <img [src]="image" class="img-fluid img-default-highlight  custom-image ">
                </div>
              </div>

            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="saveImageOrder()" [disabled]="isUpdatingMultimedia"  class="btn bg-secondary-color p-2 m-3  text-white mx-1" >
          


          <span *ngIf="isUpdatingMultimedia" class="spinner-border spinner-border-sm p-3" role="status" aria-hidden="true"></span>
          <span *ngIf="!isUpdatingMultimedia && this.editMode" >Save changes</span>
        </button>
      </div>
    </div>
  </div>
</div>





