/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import url('./assets/css/dataTables.bootstrap5.css');

.onhoverAccent:hover{
    color: #FCF6F6 !important;
    background-color: #990012 !important;
    transition: background-color 0.3s ease;

}
.activeAccent{
    color: #FCF6F6 !important;
    background-color: #990012 !important;
}

.onhoverPrimary:hover{
    color: #990012 !important;
    background-color: #FCF6F6 !important;
    transition: background-color 0.3s ease;

}
.activePrimary{
    color: #990012 !important;
    background-color: #FCF6F6 !important;
}

.onhoverSecondary:hover{
    color: #FCF6F6 !important;
    background-color: #242323 !important;
    transition: background-color 0.3s ease;

}

.onhoverAccent:hover{
    color: #FCF6F6 !important;
    background-color: #990012 !important;
    transition: background-color 0.3s ease;

}




.activeSecondary{
    color: #FCF6F6 !important;
    background-color: #242323 !important;
}

.bg-primary-color{
    background-color: #FCF6F6 !important;
}
.bg-secondary-color{
    background-color: #242323 !important;
}
.bg-accent-color{
    background-color: #990012 !important;
}
.text-primary-color{
    color: #FCF6F6 !important;
}

.text-secondary-color{
    color: #242323 !important;
}

.text-accent-color{
    color: #990012 !important;
}

html, body {
    height:100%;
    width:100%;
  }


  
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23990012' viewBox='0 0 512 512'%3E%3Cpath d='M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM231 127c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-71 71L376 232c13.3 0 24 10.7 24 24s-10.7 24-24 24l-182.1 0 71 71c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L119 273c-9.4-9.4-9.4-24.6 0-33.9L231 127z'/%3E%3C/svg%3E") !important;
}


.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23990012' viewBox='0 0 512 512'%3E%3Cpath d='M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM281 385c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l71-71L136 280c-13.3 0-24-10.7-24-24s10.7-24 24-24l182.1 0-71-71c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L393 239c9.4 9.4 9.4 24.6 0 33.9L281 385z'/%3E%3C/svg%3E") !important;
}
