/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import url('./assets/css/dataTables.bootstrap5.css');

.onhoverAccent:hover{
    color: #FCF6F6 !important;
    background-color: #990012 !important;
    transition: background-color 0.3s ease;

}
.activeAccent{
    color: #FCF6F6 !important;
    background-color: #990012 !important;
}

.onhoverPrimary:hover{
    color: #990012 !important;
    background-color: #FCF6F6 !important;
    transition: background-color 0.3s ease;

}
.activePrimary{
    color: #990012 !important;
    background-color: #FCF6F6 !important;
}

.onhoverSecondary:hover{
    color: #FCF6F6 !important;
    background-color: #242323 !important;
    transition: background-color 0.3s ease;

}

.onhoverAccent:hover{
    color: #FCF6F6 !important;
    background-color: #990012 !important;
    transition: background-color 0.3s ease;

}


.bg-sobre-color{
    background-color: #00000063 !important;
}



.activeSecondary{
    color: #FCF6F6 !important;
    background-color: #242323 !important;
}

.bg-primary-color{
    background-color: #FCF6F6 !important;
}
.bg-secondary-color{
    background-color: #242323 !important;
}
.bg-accent-color{
    background-color: #990012 !important;
}
.text-primary-color{
    color: #FCF6F6 !important;
}

.text-secondary-color{
    color: #242323 !important;
}

.text-accent-color{
    color: #990012 !important;
}

html, body {
    height:100%;
    width:100%;
  }


  
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239c9c9c' viewBox='0 0 512 512'%3E%3Cpath d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z'/%3E%3C/svg%3E") !important;
}


.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239c9c9c' viewBox='0 0 512 512'%3E%3Cpath d='M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z'/%3E%3C/svg%3E") !important;
}
