<div class="container-fluid pt-3 bg-secondary-color">
    <div class="row">
      <div class="text-center mb-3">
        <div class="badge bg-accent-color  fs-5 p-2">{{project.title}}</div>
      </div>
      
      <div class="col-md-6 col-12" *ngIf="displayImage()">
  
        <div class="container-fluid pt-2 pb-3">
          <div class="text-center">
            <div class="bg-primary-color text-accent h5 rounded onhoverAccent mt-2">Captures d'écrans</div>
          </div>

          <div class="carrouselContainer mt-2 mb-2">
            <div  id="carousselDetailProjet" class="carousel slide" data-bs-ride="carousel" >
              <div class="carousel-indicators" >
                
                <button *ngFor="let image of project.imgsLink;index as i"  type="button" [attr.data-bs-target]="'#carousselDetailProjet'" [attr.data-bs-slide-to]="i" [class.active]="i === 0" aria-current="true" ></button>
              </div>
                <div class="carousel-inner" (click)="openImageModal()">

                  <div *ngFor="let image of project.imgsLink;index as i" class="carousel-item " [class.active]="i==0" >
                    <div class="container-fluid rounded image-container bg-sobre-color col-8 offset-2">
                      <img class="img-fluid mx-auto d-block rounded custom-image" [src]="image" alt="Card image cap" >
                    </div>

                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousselDetailProjet" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousselDetailProjet" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>  
          </div>
        </div>
      </div>





      <!-- Modal Image  -->
<div class="modal fade"  id="modalImages" tabindex="-1" aria-labelledby="modalImagesLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content modal-color">

      <div class="modal-body ">
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>


        <div class="col-12">
          <app-custum-caroussel [imgLinks]="project.imgsLink"></app-custum-caroussel>
        </div>

        
      </div>
    </div>
  </div>
</div>









      <div class="col-md-6 col-12">

  
        <div class="container-fluid pt-2 pb-3">
          <div class="text-center">
            <div class="bg-primary-color text-black h5 rounded onhoverAccent mt-2">Démo</div>
          </div>
  
          <!-- Carousel for screenshots -->
          <div class="container bg-sobre-color  rounded  d-flex align-items-center justify-content-center video-container">
            <div class="embed-responsive embed-responsive-16by9 ">
              <video controls >
                <source [src]="project.demoLink" type="video/mp4" >
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>
      </div>
  


    </div>

    <div class="row pb-3">

      <div class="col-md-6 col-12 mt-3 rounded ">
        <div class="card">
          <div class="card-header bg-accent-color">
              <h5 class="text-white bg-accent-color">Description</h5>
            </div>

          <div class="card-body rounded bg-secondary-color mt-1">
            <p class="text-white">
              {{project.fullDescription}}
            </p>
          </div>
      </div>
    </div>



    <div class="col-md-6 col-12 mt-3 rounded">
      <div class="card">
        <div class="card-header bg-accent-color">
            <h5 class="text-white">Outils/Technologies utilisés</h5>
          </div>

        <div class="card-body rounded bg-secondary-color mt-1 text-white">
          <ul>
            <li *ngFor="let tool of project.usedTools ">{{tool}}</li>
          </ul>
      

        </div>

    </div>

  </div>
  </div>
</div>