<div class="container-fluid bg-secondary-color mt-4 pb-5 pt-2 " id="competences">
    <div class="text-center">
        <div class="badge bg-accent-color fs-5 m-4 p-2">Mes compétences</div>
    </div>

    <div class="container d-flex justify-content-center">
    <div class="row" >
        <div class="col mt-1 ">
            <button class="badge bg-primary-color text-black     p-2 onhoverAccent" (click)="showInformation('framework')" id="frameworkButton">Framework</button>
        </div>
        <div class="col mt-1">
            <button class="badge bg-primary-color text-black  p-2 onhoverAccent" (click)="showInformation('langProg')" id="langProgButton">Langages de Programmation</button>
        </div>
        <div class="col mt-1">
            <button class="badge bg-primary-color text-black  p-2 onhoverAccent" (click)="showInformation('archiConcept')" id="archiConceptButton">Architecture et Concepts</button>
        </div>
        
        <div class="col mt-1">
            <button class="badge bg-primary-color text-black  p-2 onhoverAccent"  (click)="showInformation('gestionProjet')" id="gestionProjetButton">Gestion de Projet</button>
        </div>
        <div class="col mt-1">
            <button class="badge bg-primary-color text-black  p-2 onhoverAccent" (click)="showInformation('modelisation')"  id="modelisationButton">Modélisation</button>
        </div>

    <div class="col mt-1">
    
        <button class="badge bg-primary-color text-black p-2 onhoverAccent" (click)="showInformation('autreCompetence')"  id="autreCompetenceButton">Autres compétences</button>

    </div>


    </div>
</div>

<!-- Framework -->
<div id="framework" class="container rounded bg-accent-color p-5 mt-5" hidden>
    <p class="text-primary-color fw-bold">Les frameworks que j'utilise :</p>
  
    <div class="row">
      <!-- Iterate over frameworks array -->
      <div *ngFor="let framework of frameworks" class="col mt-2">
        <div class="container rounded image-container bg-primary-color custom-container">
          <img [src]="framework.image" alt="" class="img-fluid custom-image">
          <div class="overlay">
            <span *ngFor="let star of getStarArray(5); let i = index;"
                  class="fa fa-star"
                  [ngClass]="{ 'checked': i < framework.rating }">
            </span>
          </div>
        </div>
        <div class="container mt-3 mb-1 text-center transformText">
          <hr>
          <div class="badge bg-primary-color text-black onhoverSecondary">{{ framework.name }}</div>
        </div>
      </div>
      <!-- End of iteration -->
    </div>
  </div>

  
<!-- Langages de Programmation -->
<div id="langProg" class="container rounded bg-accent-color p-5 mt-5" hidden>
    <p class="text-primary-color fw-bold">Les langages de programmation que j'utilise:</p>
  
    <div class="row">
      <!-- Iterate over langageDeProgs array -->
      <div *ngFor="let langage of langageDeProgs" class="col mt-2">
        <div class="container rounded image-container bg-primary-color custom-container">
          <img [src]="langage.image" alt="" class="img-fluid custom-image">
          <div class="overlay">
            <span *ngFor="let star of getStarArray(5); let i = index;"
                  class="fa fa-star"
                  [ngClass]="{ 'checked': i < langage.rating }">
            </span>
          </div>
        </div>
        <div class="container mt-3 mb-1 text-center transformText">
          <hr>
          <div class="badge bg-primary-color text-black onhoverSecondary">{{ langage.name }}</div>
        </div>
      </div>
      <!-- End of iteration -->
    </div>
  </div>
  

<!-- Architecture et Concepts -->
<div id="archiConcept" class="container rounded bg-accent-color p-5 mt-5" hidden>
    <p class="text-primary-color fw-bold">Mes notions en architecture et système d'information :</p>
  
    <div class="row">
      <!-- Iterate over archiConcepts array -->
      <div *ngFor="let archiConcept of archiConcepts" class="col mt-2">
        <div class="container rounded image-container bg-primary-color custom-container">
          <img [src]="archiConcept.image" alt="" class="img-fluid custom-image">
        </div>
        <div class="container mt-3 mb-1 text-center transformText">
          <hr>
          <div class="badge bg-primary-color text-black onhoverSecondary">{{ archiConcept.name }}</div>
        </div>
      </div>
      <!-- End of iteration -->
    </div>
  </div>
  
  <!-- Gestion de Projet -->
  <div id="gestionProjet" class="container rounded bg-accent-color p-5 mt-5" hidden>
    <p class="text-primary-color fw-bold">Mes compétences en gestion de projet :</p>
  
    <div class="row">
      <!-- Iterate over gestionProj array -->
      <div *ngFor="let gestion of gestionProjs" class="col mt-2">
        <div class="container rounded image-container bg-primary-color">
          <img [src]="gestion.image" alt="" class="img-fluid custom-image">
        </div>
        <div class="container mt-3 mb-1 text-center transformText">
          <hr>
          <div class="badge bg-primary-color text-black onhoverSecondary">{{ gestion.name }}</div>
        </div>
      </div>
      <!-- End of iteration -->
    </div>
  </div>
  
  <!-- Modélisation -->
  <div id="modelisation" class="container rounded bg-accent-color p-5 mt-5" hidden>
    <p class="text-primary-color fw-bold">Mes compétences en modélisation :</p>
  
    <div class="row">
      <!-- Iterate over modelisations array -->
      <div *ngFor="let modelisation of modelisations" class="col mt-2">
        <div class="container rounded image-container bg-primary-color">
          <img [src]="modelisation.image" alt="" class="img-fluid custom-image">
        </div>
        <div class="container mt-3 mb-1 text-center transformText">
          <hr>
          <div class="badge bg-primary-color text-black onhoverSecondary">{{ modelisation.name }}</div>
        </div>
      </div>
      <!-- End of iteration -->
    </div>
  </div>
  











    

<!-- Compétences Techniques Additionnelles -->
<div id="autreCompetence" class="container rounded bg-accent-color p-5 mt-5" hidden>

    <p class="text-primary-color fw-bold">Compétences techniques additionnelles : </p>

    <div class="row">


        <!-- Outils d'Automatisation -->
        <div class="col m-3">
            <div class="card bg-primary-color text-white h-100">
                <img src="../../../../assets/imgs/cicd.png" class="img-fluid custom-image card-img-top" alt="Automation Image">
                <div class="card-body text-secondary-color">
                    <h3 class="card-title">Outils d'Automatisation</h3>
                    <ul>
                        <li>Maven</li>
                        <li>Docker</li>
                        <li>Jenkins</li>
                        <li>Nexus</li>
                        <li>Kubernetes</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Bureautique & Design -->
        <div class="col text-secondary-color m-3">
            <div class="card bg-primary-color text-white h-100">
                <img src="../../../../assets/imgs/bureautiqueanddesign.png" class="card-img-top custom-image img-fluid"  alt="Design Image">
                <div class="card-body text-secondary-color">
                    <h3 class="card-title">Bureautique & Design</h3>
                    <ul>
                        <li>Microsoft Word</li>
                        <li>Microsoft Excel</li>
                        <li>Figma</li>
                        <li>Photoshop</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>



</div>
