<div class="container-fluid bg-secondary-color mt-4 pt-2 ">
    <div class="text-center">
        <div class="badge bg-accent-color fs-5 p-2 mb-4">Mes compétences</div>
    </div>

    <div class="container d-flex justify-content-center">
    <div class="row" >
        <div class="col mt-1 ">
            <button class="badge bg-primary-color text-black     p-2 onhoverAccent" (click)="showInformation('framework')" id="frameworkButton">Framework</button>
        </div>
        <div class="col mt-1">
            <button class="badge bg-primary-color text-black  p-2 onhoverAccent" (click)="showInformation('langProg')" id="langProgButton">Langages de Programmation</button>
        </div>
        <div class="col mt-1">
            <button class="badge bg-primary-color text-black  p-2 onhoverAccent" (click)="showInformation('archiConcept')" id="archiConceptButton">Architecture et Concepts</button>
        </div>
        
        <div class="col mt-1">
            <button class="badge bg-primary-color text-black  p-2 onhoverAccent"  (click)="showInformation('gestionProjet')" id="gestionProjetButton">Gestion de Projet</button>
        </div>
        <div class="col mt-1">
            <button class="badge bg-primary-color text-black  p-2 onhoverAccent" (click)="showInformation('modelisation')"  id="modelisationButton">Modélisation</button>
        </div>

    <div class="col mt-1">
    
        <button class="badge bg-primary-color text-black p-2 onhoverAccent" (click)="showInformation('autreCompetence')"  id="autreCompetenceButton">Autres compétences</button>

    </div>


    </div>
</div>

<!-- Framework -->
<div id="framework" class="container rounded bg-accent-color p-5 mt-5" hidden>
    <div class="row">
        <!-- Item 1 -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/springboot.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="container mt-3 text-center">
                <div class="badge bg-primary-color text-black onhoverSecondary">Spring Boot</div>
            </div>
        </div>

        <!-- Item 2 -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/angular.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="container mt-3 text-center">
                <div class="badge bg-primary-color text-black onhoverSecondary">Angular</div>
            </div>
        </div>

        <!-- Item 3 -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/laravel.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="container mt-3 text-center">
                <div class="badge bg-primary-color text-black onhoverSecondary">Laravel</div>
            </div>
        </div>

        <!-- Item 4 -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/flutter.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
            </div>
            <div class="container mt-3 text-center">
                <div class="badge bg-primary-color text-black onhoverSecondary">Flutter</div>
            </div>
        </div>

        <!-- Item 5 -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/bootstrap.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                </div>
            </div>
            <div class="container mt-3 text-center">
                <div class="badge bg-primary-color text-black onhoverSecondary">Bootstrap</div>
            </div>
        </div>
    </div>
</div>
>




<!-- Langages de Programmation -->


        <div id="langProg" class="container rounded bg-accent-color p-5 mt-5" hidden>
            <div class="badge bg-primary-color text-black  activeSecondary  onhoverSecondary"> Langages de Programmation</div>

        <div class="row">
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black  activeSecondary  onhoverSecondary">Modélisation</div>

                </div>
            </div>
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color ">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>

                </div>
            </div>
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color ">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>

                </div>
            </div>
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color ">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>

                </div>
            </div>
        </div>
        
    </div>



    <!-- Architecture et Concepts  -->
    <div id="archiConcept" class="container rounded bg-accent-color p-5 mt-5" hidden>
        <div class="badge bg-primary-color text-black  activeSecondary  onhoverSecondary">Architecture et Concepts</div>

        <div class="row">
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black  activeSecondary  onhoverSecondary">Modélisation</div>

                </div>
            </div>
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color ">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>

                </div>
            </div>
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color ">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>

                </div>
            </div>
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color ">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>

                </div>
            </div>
        </div>
        
    </div>










    
    <!-- Gestion de Projet -->
    <div id="gestionProjet" class="container rounded bg-accent-color p-5 mt-5" hidden>
        <div class="badge bg-primary-color text-black  activeSecondary  onhoverSecondary">Gestion de Projet</div>

        <div class="row">
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black  activeSecondary  onhoverSecondary">Modélisation</div>

                </div>
            </div>
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color ">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>

                </div>
            </div>
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color ">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>

                </div>
            </div>
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color ">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>

                </div>
            </div>
        </div>
        
    </div>












    
    
    <!-- Modélisation -->
    <div id="modelisation" class="container rounded bg-accent-color p-5 mt-5" hidden>
        <div class="badge bg-primary-color text-black  activeSecondary  onhoverSecondary">Modélisation</div>

        <div class="row">
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black  activeSecondary  onhoverSecondary">Modélisation</div>

                </div>
            </div>
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color ">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>

                </div>
            </div>
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color ">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>

                </div>
            </div>
            <div class="col mt-2">
                <div class="container rounded  bg-primary-color ">
                    <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 

                </div>
                <div class="container mt-2 text-center ">
                    <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>

                </div>
            </div>
        </div>
        
    </div>















    





        <!-- Autre compétence -->
        <div id="autreCompetence" class="container rounded bg-accent-color p-5 mt-5" hidden>
            <div class="badge bg-primary-color text-black  activeSecondary  onhoverSecondary">Autre compétence</div>
    
            <div class="row">
                <div class="col mt-2">
                    <div class="container rounded  bg-primary-color">
                        <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 
    
                    </div>
                    <div class="container mt-2 text-center ">
                        <div class="badge bg-primary-color text-black  activeSecondary  onhoverSecondary">Modélisation</div>
    
                    </div>
                </div>
                <div class="col mt-2">
                    <div class="container rounded  bg-primary-color ">
                        <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 
    
                    </div>
                    <div class="container mt-2 text-center ">
                        <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>
    
                    </div>
                </div>
                <div class="col mt-2">
                    <div class="container rounded  bg-primary-color ">
                        <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 
    
                    </div>
                    <div class="container mt-2 text-center ">
                        <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>
    
                    </div>
                </div>
                <div class="col mt-2">
                    <div class="container rounded  bg-primary-color ">
                        <img src="../../../../assets/imgs/madara.png" alt="" class="img-fluid"> 
    
                    </div>
                    <div class="container mt-2 text-center ">
                        <div class="badge bg-primary-color text-black   onhoverSecondary">Modélisation</div>
    
                    </div>
                </div>
            </div>
            
        </div>
</div>
