<div class="container-fluid bg-secondary-color mt-4 pt-2 ">
    <div class="text-center">
        <div class="badge bg-accent-color fs-5 p-2 mb-4">Mes compétences</div>
    </div>

    <div class="container d-flex justify-content-center">
    <div class="row" >
        <div class="col mt-1 ">
            <button class="badge bg-primary-color text-black     p-2 onhoverAccent" (click)="showInformation('framework')" id="frameworkButton">Framework</button>
        </div>
        <div class="col mt-1">
            <button class="badge bg-primary-color text-black  p-2 onhoverAccent" (click)="showInformation('langProg')" id="langProgButton">Langages de Programmation</button>
        </div>
        <div class="col mt-1">
            <button class="badge bg-primary-color text-black  p-2 onhoverAccent" (click)="showInformation('archiConcept')" id="archiConceptButton">Architecture et Concepts</button>
        </div>
        
        <div class="col mt-1">
            <button class="badge bg-primary-color text-black  p-2 onhoverAccent"  (click)="showInformation('gestionProjet')" id="gestionProjetButton">Gestion de Projet</button>
        </div>
        <div class="col mt-1">
            <button class="badge bg-primary-color text-black  p-2 onhoverAccent" (click)="showInformation('modelisation')"  id="modelisationButton">Modélisation</button>
        </div>

    <div class="col mt-1">
    
        <button class="badge bg-primary-color text-black p-2 onhoverAccent" (click)="showInformation('autreCompetence')"  id="autreCompetenceButton">Autres compétences</button>

    </div>


    </div>
</div>

<!-- Framework -->
<div id="framework" class="container rounded bg-accent-color p-5 mt-5" hidden>
    <h5 class="text-primary-color">Les frameworks que j'utilise :</h5>

    <div class="row">
        <!-- Item 1 -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/springboot.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="container mt-3 mb-1 text-center transformText">

                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">Spring Boot</div>
            </div>
        </div>

        <!-- Item 2 -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                
                <img src="../../../../assets/imgs/angular.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
       
            <div class="container mt-3 mb-1 text-center transformText ">
                                <hr>

                <div class="badge bg-primary-color text-black onhoverSecondary">Angular</div>
            </div>
            
        </div>

        <!-- Item 3 -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/laravel.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="container mt-3 mb-1 text-center transformText">

                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">Laravel</div>
            </div>
        </div>

        <!-- Item 4 -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/flutter.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
            </div>
            <div class="container mt-3 mb-1 text-center transformText">

                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">Flutter</div>
            </div>
        </div>

        <!-- Item 5 -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/bootstrap.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                </div>
            </div>
            <div class="container mt-3 mb-1 text-center transformText">

                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">Bootstrap</div>
            </div>
        </div>
    </div>
</div>



<!-- Langages de Programmation -->
<div id="langProg" class="container rounded bg-accent-color p-5 mt-5" hidden>
    <h5 class="text-primary-color">Les langages de programmation que j'utilise : </h5>

    <div class="row">
        <!-- PHP -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/php.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
     
                </div>
            </div>
            <div class="container mt-3 mb-1 text-center transformText">

                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">PHP</div>
            </div>
        </div>

        <!-- Java -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/java.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="container mt-3 mb-1 text-center transformText">

                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">Java</div>
            </div>
        </div>

        <!-- JavaScript (JS) -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/js.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="container mt-3 mb-1 text-center transformText">

                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">JavaScript (JS)</div>
            </div>
        </div>

        <!-- Dart -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/dart.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
            </div>
            <div class="container mt-3 mb-1 text-center transformText">

                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">Dart</div>
            </div>
        </div>

        <!-- Python -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/python.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
            </div>
            <div class="container mt-3 mb-1 text-center transformText">

                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">Python</div>
            </div>
        </div>

        <!-- C# -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/csharp.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="container mt-3 mb-1 text-center transformText">

                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">C#</div>
            </div>
        </div>

        <!-- C -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/c.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="container mt-3 mb-1 text-center transformText">

                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">C</div>
            </div>
        </div>

        <!-- C++ -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/cplus.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="container mt-3 mb-1 text-center transformText">

                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">C++</div>
            </div>
        </div>

        <!-- TypeScript -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/ts.png" alt="" class="img-fluid custom-image">
                <div class="overlay">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="container mt-3 mb-1 text-center transformText">

                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">TypeScript</div>
            </div>
        </div>
    </div>
</div>



<!-- Architecture et Concepts -->
<div id="archiConcept" class="container rounded bg-accent-color p-5 mt-5" hidden>
    <h5 class="text-primary-color">Mes notions  en architecture et systéme d'information : </h5>

    <div class="row">
        <!-- RESTful / SOAP -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/archi.png" alt="" class="img-fluid custom-image">
            </div>
            <div class="container mt-3 mb-1 text-center transformText">
                <hr>
                <div class="badge bg-primary-color text-black  onhoverSecondary">RESTful / SOAP</div>
            </div>
        </div>

        <!-- API (Application Programming Interface) -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/api.png" alt="" class="img-fluid custom-image">
            </div>
            <div class="container mt-3 mb-1 text-center transformText">
                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">API (Application Programming Interface)</div>
            </div>
        </div>

        <!-- Modèle-Vue-Contrôleur (MVC) -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/mvc.png" alt="" class="img-fluid custom-image">
            </div>
            <div class="container mt-3 mb-1 text-center transformText">
                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">Modèle-Vue-Contrôleur (MVC)</div>
            </div>
        </div>

        <!-- Sécurité -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color custom-container">
                <img src="../../../../assets/imgs/security.png" alt="" class="img-fluid custom-image">
            </div>
            <div class="container mt-3 mb-1 text-center transformText">
                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">Sécurité</div>
            </div>
        </div>
    </div>
</div>


    
    <!-- Gestion de Projet -->

    <div id="gestionProjet" class="container rounded bg-accent-color p-5 mt-5" hidden>
        <h5 class="text-primary-color">Mes compétences  en gestion de projet : </h5>

        <div class="row">
        <!-- Méthodologies Agile (SCRUM)  -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color ">
                <img src="../../../../assets/imgs/scrum.png" alt="" class="img-fluid custom-image">
            </div>
            <div class="container mt-3 mb-1 text-center transformText">
                <hr>
                <div class="badge bg-primary-color text-black  onhoverSecondary">Méthodologies Agile (SCRUM) </div>
            </div>
        </div>

        <!-- Cascade -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color ">
                <img src="../../../../assets/imgs/cascade.png" alt="" class="img-fluid custom-image">
            </div>
            <div class="container mt-3 mb-1 text-center transformText">
                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">Cascade</div>
            </div>
        </div>

    </div>
</div>






















    
    
    <!-- Modélisation -->

    
    <div id="modelisation" class="container rounded bg-accent-color p-5 mt-5" hidden>
        <h5 class="text-primary-color">Mes compétences en modélisation : </h5>

        <div class="row">
        <!-- Méthodologies Agile (SCRUM)  -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color ">
                <img src="../../../../assets/imgs/uml.png" alt="" class="img-fluid custom-image">
            </div>
            <div class="container mt-3 mb-1 text-center transformText">
                <hr>
                <div class="badge bg-primary-color text-black  onhoverSecondary">UML(Unified Modeling Language)</div>
            </div>
        </div>

        <!-- Cascade -->
        <div class="col mt-2">
            <div class="container rounded image-container bg-primary-color ">
                <img src="../../../../assets/imgs/merise.png" alt="" class="img-fluid custom-image">
            </div>
            <div class="container mt-3 mb-1 text-center transformText">
                <hr>
                <div class="badge bg-primary-color text-black onhoverSecondary">Merise</div>
            </div>
        </div>

    </div>
</div>
















    

<!-- Compétences Techniques Additionnelles -->
<div id="autreCompetence" class="container rounded bg-accent-color p-5 mt-5" hidden>

    <h5 class="text-primary-color">Compétences techniques additionnelles : </h5>

    <div class="row">


        <!-- Outils d'Automatisation -->
        <div class="col m-3">
            <div class="card bg-primary-color text-white h-100">
                <img src="../../../../assets/imgs/cicd.png" class="img-fluid custom-image card-img-top" alt="Automation Image">
                <div class="card-body text-secondary-color">
                    <h3 class="card-title">Outils d'Automatisation</h3>
                    <ul>
                        <li>Maven</li>
                        <li>Docker</li>
                        <li>Jenkins</li>
                        <li>Nexus</li>
                        <li>Kubernetes</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Bureautique & Design -->
        <div class="col text-secondary-color m-3">
            <div class="card bg-primary-color text-white h-100">
                <img src="../../../../assets/imgs/bureautiqueanddesign.png" class="card-img-top custom-image img-fluid"  alt="Design Image">
                <div class="card-body text-secondary-color">
                    <h3 class="card-title">Bureautique & Design</h3>
                    <ul>
                        <li>Microsoft Word</li>
                        <li>Microsoft Excel</li>
                        <li>Figma</li>
                        <li>Photoshop</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>



</div>
